html {
	background: radial-gradient(#101010 10%, #313D40);
}

#root::after {
	display: block;
	pointer-events: none;
	border: .3em solid white;
	content: '';
	border-radius: 2em;
	position: absolute;
	left: 2em;
	top: 2em;
	bottom: 2em;
	right: 2em;
}
