.h1, h1 {
    font-size: 2.5rem;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    padding: 0 5rem;
    text-align: center;
    color: white;
    z-index: 1;
}

.link--register a {
    color: white;
    text-decoration: none;
}

.logo-wordmark {
    display: block;
    width: 43vw;
    margin: auto;
    margin-top: 4em;
}

.form-control {
    display: block;

    height: 2.3em;
    width: 50%;
    margin: 0 auto 1em;
    padding: .375em .75em;

    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}

.form--login h2 {
    color: #FEFEFE;
    font-size: 2em;
    margin-bottom: .55em;
}

.form--login button {
    display: block;
    width: calc(50% + 1.5em);
    margin: auto;
    border-radius: .25rem;
    appearance: none;
    outline: none;
    background: #FBBA42;
    color: #3B3F41;
    border: none;
    padding: 1.25em 0;
    margin: 1.5em auto;
    font-weight: bold;
    cursor: pointer;
}

.container--login {
    text-align: center;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}